<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect /ekanban/ to /ekanban/public/
    RewriteCond %{REQUEST_URI} ^/ekanban/?$
    RewriteRule ^(.*)$ /ekanban/public/ [R=301,L]
    
    # Redirect any non-public request to public folder
    RewriteCond %{REQUEST_URI} !^/ekanban/public/
    RewriteRule ^(.*)$ /ekanban/public/$1 [R=301,L]
</IfModule>
